# This file is used to ignore certains files and directories in a Git repository.

# Ignore Python virtual environment directories
/myenv/

# Ignore secret repository files
/secret/

# Ignore test repository files
/test/

# Ignore compiled Python files
/__pycache__/
*.pyc

# Ignore draft files
/draft/

# OTHERS : Ignore extra files
/Boxing-Prediction/src/
/Boxing-Prediction/